String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
string='nagsen khandare data scientist'

reverse_string=string[::-1]

print(reverse_string)

tsitneics atad eradnahk nesgan

2. Check if a string is a palindrome.

In [9]:
# Function to check if a string is a palindrome

def is_palindrome(input_string):
    # Remove spaces and convert the string to lowercase for case-insensitive comparison
    
    cleaned_string=input_string.replace(' ','').lower()
    
    # Compare the original string with its reverse
    
    return cleaned_string==cleaned_string[::-1]

# Input string
input_string=input('Enter a string:')

# Check if it's a palindrome and print the result

if is_palindrome(input_string):
    print(f'{input_string} is a palindrome.')
else:
    print(f'{input_string} is not a palindrome.')

Enter a string: madam

madam is a palindrome.

3. Convert a string to uppercase

In [15]:
# define a string

string='Data Science Pro'

# converting it to uppercase

upper_string= string.upper()

print(upper_string)

DATA SCIENCE PRO

4. Convert a string to lowercase

In [16]:
string='DATA SCIENCE PRO'

lower_string= string.lower()

print(lower_string)

data science pro

5. Count the number of vowels in a string.

In [46]:
# Define a function to count vowels

def count_vowel(input_string):
    
    # Initialize a variable to count vowels
    
    count_vowel=0
    
    # Create a set of vowels 
    
    vowels=set('aeiouAEIOU')
    
    for  char in input_string:
        
        if char in vowels:
            
        
           count_vowel+=1
        
    return count_vowel
        
        
        
# input string
    
input_string=input('Enter a string:')
    
# print the result
    
result= count_vowel(input_string)
    
print(f'The number of vowels in the string are {result}')

Enter a string: nagsen khandare

The number of vowels in the string are 5

6. Count the number of consonants in a string.

In [51]:
# Define a function to count consonant

def count_consonant(input_string):
        
    # Initialize a variable to consonant count
    
    consonant_count=0
    
    # Create a set of vowels i e not consonant
    
    vowels=set('aeiouAEIOU')
    
    # Iterate through input string
    
    for char in input_string:
        
        if char.isalpha() and char not in vowels:
    
            consonant_count+=1
            
    return consonant_count

# input string
input_string= input('Enter a string:')

# print the result

result= count_consonant(input_string)

print(f'The string contains {result} consonant')

Enter a string: data science pro 15000

The string contains 8 consonant

7. Remove all whitespaces from a string.

In [1]:
string='full stack data science pro'

cleaned_string=string.replace(' ','')

print(cleaned_string)

fullstackdatasciencepro

8. Find the length of the string without using the len() function.

In [2]:
def string_length(input_string):
    count=0
    for char in input_string:
        count+=1
    return count

input_string=input('enter a string:')
length=string_length(input_string)

print(f'The length of given string is: {length}')

enter a string: full stack data science pro

The length of given string is: 27

9. Check if a string contains a specific word.

In [11]:
def check_str_word(input_string):
    input_string=input('enter a string:')
    specific_word= input('enter a word to check:')
    
    if specific_word in input_string:
        print(f'The string contains the given word: {specific_word}')
    else:
        print('The string does not contains the given word.')
        

result=check_str_word(input_string)

enter a string: nagsen khandare pro data scientist
enter a word to check: pro

The string contains the given word: pro

10. Replace a word in a string with another word.

In [20]:
def replace_str_word(input_string):
    input_string='nagsen khandare pro data scientist'
    replace_word=input_string.replace('pro','pro max')
    
    
    print(f'The string with replaced word is: {replace_word}')
    
result=replace_str_word(input_string)

The string with replaced word is: nagsen khandare pro max data scientist

11. Count the occurrences of a word in a string.

In [32]:
def count_word(input_string,word_count):
    
    # convert it to lowercase to make  cese_insensitive comparison
    input_string=input_string.lower()
    word_count=word_count.lower()
    count=input_string.count(word_count)
    
    if word_count in input_string:
        
        return count
     
input_string=input('enter a string:')
word_count=input('enter a word to count:')     
count=input_string.count(word_count)        
        
result=count_word(input_string,word_count)


if count:
    print(f'The occurrence of given word in a string: {result}')
else:
    print('The given word is not found in the string.')

enter a string: data science pro, pro data scientist, data analyst
enter a word to count: data

The occurrence of given word in a string: 3

12. Find the first occurrence of a word in a string.

In [23]:
def first_occurrence_word(input_string,target_word):
    input_string=input_string.lower()
    target_word=target_word.lower()
    
    index=input_string.find(target_word)
    
    return index

input_string=input('enter a string:')
target_word=input('enter a word:')

first_occurrence_index=first_occurrence_word(input_string,target_word)
if first_occurrence_index!=-1:
    print(f'The first occurrence of the given word is: {first_occurrence_index}')
    
else:
    print(f'The given word is not found in the string.')

enter a string: want to be data scientist, pro data scientist
enter a word: DATA

The first occurrence of the given word is: 11

13. Find the last occurrence of a word in a string.

In [28]:
def last_occurrence_word(input_string,target_word):
    
    input_string=input_string.lower()
    target_word=target_word.lower()
    
    index=input_string.rfind(target_word)
    
    return index

input_string='data science pro, data scientist max pro'
target_word='data'

last_occurrence_index=last_occurrence_word(input_string,target_word)
if last_occurrence_index!=-1:
    print(f'The last occurrence of the given word is: {last_occurrence_index}')
else:
    print('The word not found in the string')

The last occurrence of the given word is: 18

14. Split a string into a list of words.

In [39]:
def split_str_lst(input_string):
    
    input_string='nagsen khandare a pro data scientist'
    lst=input_string.split()
    return lst
    
    
word_lst=split_str_lst(input_string)
print(f'The splited list of the words is: {word_lst}')

The splited list of the words is: ['nagsen', 'khandare', 'a', 'pro', 'data', 'scientist']

15. Join a list of words into a string.

In [1]:
lst=['Full','stack','data','science','pro']

string= ' '.join(lst)

print(string)

Full stack data science pro

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [7]:
string='full stack data science altra pro max'

underscore_string=string.replace(' ','_')

print(underscore_string)

full_stack_data_science_altra_pro_max

17. Check if a string starts with the specific word or phrase.

In [48]:
def start_with_word(input_strin,target_word):
    
    first_word=input_string.startswith(target_word)
    return first_word

input_string=input('enter a string:')
target_word=input('enter a word:')
input_string=input_string.lower()
target_word=target_word.lower()

result=start_with_word(input_string,target_word)

if result:
    print('The string starts with the given word or phrase.')
else:
    print('The string not starts with the given word or phrase.')

enter a string: india will win asia cup
enter a word: India

The string starts with the given word or phrase.

18. Check if a string ends with a specific word or phrase.

In [51]:
def ends_with_word(input_string,target_word):

    end_word=input_string.endswith(target_word)
    return end_word

input_string='India can win the world cup'
target_word='Cup'
input_string=input_string.lower()
target_word=target_word.lower()

result=ends_with_word(input_string,target_word)

if result:
    print('The string ends with the given word or phrase.')
else:
    print('The string not ends with the given word or phrase.')

The string ends with the given word or phrase.

19. Conver a string to title case(e.g., 'hello world' to 'Hello World').

In [61]:
str='indian football club'

title_str=str.title()

print(title_str)

Indian Football Club

20. Find the longest word in a string.

In [16]:
def find_longest_word(input_string):
    words=input_string.split()
    longest_word=''
    
    for word in words:
        if len(word)>len(longest_word):
            
            longest_word=word
            
    return longest_word

input_string=input('enter a string:')

result=find_longest_word(input_string)

print(f'The longest word in the string is: {result}')

enter a string: finaly india win the asia cup 2023

The longest word in the string is: finaly

21. Find the shortest word in a string.

In [58]:
def find_shortest_word(input_string):
    words=input_string.split()
    shortest_word=None
    
    for word in words:
        if  shortest_word is None or len(word)<len(shortest_word):
            
            shortest_word=word
            
    return shortest_word

input_string='Indian football team going to play in next world cup'
result=find_shortest_word(input_string)
print(f'The shortest word in the string is: {result}')

The shortest word in the string is: to

22. Reverse the order of words in a string.

In [72]:
def reverse_words(input_string):
    words=input_string.split()
    reverse_words=words[::-1]
    reversed_string=' '.join(reverse_words)
    
    return reversed_string

input_string=input('enter a string:')

result=reverse_words(input_string)

print(f'The string with the reversed order of the words is: {result}')

enter a string: full stack data science pro

The string with the reversed order of the words is: pro science data stack full

23. Check if a string is alphanumeric.

In [103]:
def is_alphanumeric(input_string):
    
    return input_string.isalnum()

input_string=input('enter a string:')

result=is_alphanumeric(input_string)

if result:
    print('The given string is alphanumeric.')
else:
    print('The given string is not alphanumeric.')

enter a string: hellow123

The given string is alphanumeric.

24. Extract all digits from a string.

In [118]:
def extract_digits(input_string):
    digits=[]
    for char in input_string:
        if char.isnumeric():
            digits.append(char)
    return digits

input_string=input('enter a string:')

result=extract_digits(input_string)

print(f'The extracted numbers from a string are: {result}')

enter a string: full 345 stack567 data 878 science00 pro @#

The extracted numbers from a string are: ['3', '4', '5', '5', '6', '7', '8', '7', '8', '0', '0']

25. Extract all alphabets from a string.

In [133]:
def extract_all_alpha(input_string):
    alphabets=','.join(char for char in input_string if char.isalpha()) 
    return alphabets
input_string='Data287 science 98 pro'

result=extract_all_alpha(input_string)

print(f'The extracted alphabets from a string are: {result}')

The extracted alphabets from a string are: D,a,t,a,s,c,i,e,n,c,e,p,r,o

26. Count the number of uppercase letters in a string.

In [39]:
def count_upper_letter(input_string):
    l=0
    for char in input_string:
        if char.isupper():
            l+=1
    return l

input_string=input('enter a string:')

result= count_upper_letter(input_string)

print(f'The number of uppercase letters in the string: {result}')

enter a string: Nagsen Khandare Data Scientist

The number of uppercase letters in the string: 4

27. Count the number of lowercase letters in a string.

In [41]:
def count_lower_letters(input_string):
    l=0
    for char in input_string:
        if char.islower():
            l+=1
    return l

input_string='Nagsen Khandare Data Scientist'

result=count_lower_letters(input_string)
print(f'The number of lowercase letters in a string are: {result}')

The number of lowercase letters in a string are: 23

28. Swap the case of each character in a string.

In [44]:
string='Artificial Inteligence'

swapcase=string.swapcase()

print(f'The swapcase string: {swapcase}')

The swapcase string: aRTIFICIAL iNTELIGENCE

29. Remove a specific word from a string.

In [68]:
def remove_word(input_string,target_word):
    input_string=input_string.lower()
    target_word=target_word.lower()
    new_string=input_string.replace(target_word,'')
    return new_string

input_string='Nagsen Khandare pro data scientist'
target_word=input('enter target word:')

result=remove_word(input_string,target_word)

print(f'The string after removing a word: {result}')

enter target word: Pro

The string after removing a word: nagsen khandare  data scientist

30. Check if a string is a valid email address.

In [5]:
import re
def is_valid_email(email):
    # Define a regular expression pattern for a valid email address
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    
    # Check if the email matches the pattern
    if re.match(pattern,email):
        return True
    else:
        return False
    
email=input('enter a email:')
result=is_valid_email(email)
if result:
    print('The email is valid.')
else:
    print('The email is not valid.')

enter a email: nagsenkhandare@gmail.com

The email is valid.

31. Extract the username from an email address string.

In [24]:
def extract_username(email):
    # Split the username
    split=email.split('@')
    
    # check if the email has expected format(username@domain)
    
    if len(split)==2:
        return split[0]
    else:
        return None # Invalid email format

email=input('enter email:')
result=extract_username(email)
if result is not None:
    print('username:',result)
else:
    print('Invalid email.')

enter email: nagsen@gmail.com

username: nagsen

32. Extract the domain name from an email address string.

In [26]:
def extract_domain(email):
    # Split the username
    split=email.split('@')
    
    # Check if the email has expected format (username@domain)
    if len(split)==2:
        return split[1]
    else:
        return None # Invalid email
email=input('enter email:')
result=extract_domain(email)

if result is not None:
    print('Domain name:',result)
else:
    print('Invalid email')

enter email: sample@example.com

Domain name: example.com

33. Replace multiple spaces in a string with a single space.

In [4]:
import re
def replace_multiple_spaces(input_string):
    # Use regular expression to replace multiple spaces with a single space
    
    new_string=re.sub(r'\s+',' ',input_string)
    
    return new_string

input_string=input('enter a string:')
result=replace_multiple_spaces(input_string)

print('String after removing multiple spaces :',result)

enter a string: This   is a   string   with   multiple   spaces.

String after removing multiple spaces : This is a string with multiple spaces.

34. Check if a string is a valid URL.

In [1]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result=urlparse(url)
        return all([result.scheme,result.netloc])
    except ValueError:
        return False
    
url='https://www.example.com'

if is_valid_url(url):
    print('The URL is valid.')
else:
    print('The URL is not valid.')

The URL is valid.

35. Extract the protocol (http or https) from a URL string.

In [4]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url=urlparse(url)
    return parsed_url.scheme

url='https://www.example.com'

protocol=extract_protocol(url)
print('Protocol:',protocol)

Protocol: https

36. Find the frequency of each character in a string.

In [2]:
def character_frequency(input_string):
    
    # Create an empty dictionary to store character frequencies
    frequency={}
    
    # Iterate through the string and count character frequencies
    for char in input_string:
        if char in frequency:
            frequency[char]+=1
        else:
            frequency[char]=1
    return frequency

input_string=input('enter a string:')
result=character_frequency(input_string)

for char, count in result.items():
    print(f'{char} : {count}')

enter a string: full stack data science pro

f : 1
u : 1
l : 2
  : 4
s : 2
t : 2
a : 3
c : 3
k : 1
d : 1
i : 1
e : 2
n : 1
p : 1
r : 1
o : 1

37. Remove all punctuation from a string.

In [21]:
import string
import re

def remove_punctuation(input_string):
    # Define a regular expression pattern to match punctuation
    
    punctuation_pattern=re.compile('[%s]' % re.escape(string.punctuation))
    
    # Use the sub() funcion to replace punctuation with an empty string
    
    clean_string=punctuation_pattern.sub('',input_string)
    
    return clean_string

input_string='Hello, world! This is data science class.'
cleaned_string=remove_punctuation(input_string)
print('Cleaned_string:',cleaned_string)

Cleaned_string: Hello world This is data science class

38. Check if a string contains only digits.

In [60]:
def only_digits(input_string):
    if input_string.isdigit():
        return 'The string contains only digits.'
    else:
        return 'The string not contains only digits.'
        
input_string=input('enter a string:')
result=only_digits(input_string)
print(result)

enter a string: 123456789

The string contains only digits.

39. Check if a string contains only alphabets.

In [65]:
def only_alphabets(string):
    if string.isalpha():
        return 'The string contains only alphabets.'
    else:
        return 'The string not contains only alphabets.'
        
string=input('enter a string:')
result=only_alphabets(string)

print(result)

enter a string: HelloWorld

The string contains only alphabets.

40. Convert a string to a list of characters.

In [77]:
def string_list(input_string):
    
    # Use a list comprehension to convert the string to a list of characters
    char_list=[char for char in input_string]
    
    return char_list

input_string='mentor: sudhanshu sir'
result=string_list(input_string)

print('List of characters:',result)

List of characters: ['m', 'e', 'n', 't', 'o', 'r', ':', ' ', 's', 'u', 'd', 'h', 'a', 'n', 's', 'h', 'u', ' ', 's', 'i', 'r']

41. Check if two strings are anagrams.

In [7]:
def are_anagrams(str1,str2):
    # Remove spaces and convert both string to lowercase to make comparison case-insensitive
    str1=str2.replace(' ','').lower()
    str2=str2.replace(' ','').lower()
    
    # Check if the length of the two strings are equal
    if len(str1)!=len(str2):
        return False
    
    # Create dictionaries to store character frequencies for both strings
    
    char_count1={}
    char_count2={}
    
    # Populate the dictionaries with character frequencies from both strings
    for char in str1:
        char_count1[char]=char_count1.get(char,0)+1
    for char in str2:
        char_count2[char]=char_count2.get(char,0)+1
    # Compare the dictionaries to check if they have the same character frequencies
    return char_count1==char_count2

str1='listen'
str2='silent'
result=are_anagrams(str1,str2)

if result:
    print(f'{str1} and {str2} are anagrams.')
else:
    print(f'{str1} and {str2} are not anagrams.')

listen and silent are anagrams.

42. Encode a string using a Caesar cipher.

In [29]:
def caesar_cipher_encode(text,shift):
    encoded_text=''
    
    for char in text:
        # Check if the character is a letter
        if char.isalpha():
            
            # Determine whether the character is uppercase or lowercase
            is_upper=char.isupper()
            
            # Shift the character by the specified amount while keeping it within the alphabet.
            char_code=ord(char)-ord('A') if is_upper else ord(char)-ord('a')
            encoded_char_code=(char_code+shift)%26
            
            encoded_char=chr(encoded_char_code+ord('A') if is_upper else encoded_char_code+ord('a'))
            encoded_text+=encoded_char
        else:
            # If the character is not a letter, keep it unchanged
            encoded_text+=char
    return encoded_text

plaintext='full stack data science pro 15000'
shift_amount=4
encoded_text=caesar_cipher_encode(plaintext,shift_amount)
print('Encoded:',encoded_text)

Encoded: jypp wxego hexe wgmirgi tvs 15000

43. Decode a caesar cipher encoded string.

In [28]:
def caesar_cipher_decode(encoded_text,shift):
    decoded_text=''
    
    for char in encoded_text:
        # Check if the character is a letter
        
        if char.isalpha():
            
            # Determine whether the character is uppercase or lowercase
            is_upper=char.isupper()
        
            # Shift the character back by the specified amount while keeping it within the alphabet
        
            char_code=ord(char)-ord('A') if is_upper else ord(char)-ord('a')
        
            decoded_char_code= (char_code-shift)%26
        
            decoded_char=chr(decoded_char_code+ord('A') if is_upper else decoded_char_code+ord('a'))
            decoded_text+=decoded_char
        
        
        else:
            
                
             # If the character is not a letter, keep it unchanged
            decoded_text+=char
            
    return decoded_text

encoded_text='jypp wxego hexe wgmirgi tvs 15000'
shift_amount=4
decoded_text=caesar_cipher_decode(encoded_text,shift_amount)
print('Decoded:',decoded_text)

Decoded: full stack data science pro 15000

44. Find the most frequent word in a string.

In [17]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Tokenize the input string into words (splite by spaces and remove punctuation)
    words=re.findall(r'\b\w+\b', input_string.lower())
    
    # Create a dictionary to store word frequencies
    
    word_freq=Counter(words)
    
    # Find the word(s) with the highest frequency
    most_common=word_freq.most_common(1)
    if most_common:
        return most_common[0][0], most_common[0][1]
    else:
        return None, 0
    
input_string='This is a sample sentence. And want sample as output.'
most_frequent, frequency= most_frequent_word(input_string)
if most_frequent:
    print(f"The most frequent word is '{most_frequent}' with a frequency of {frequency}.")
else:
    print('No words found in the input string.')

The most frequent word is 'sample' with a frequency of 2.

45. Find all unique words in a string.

In [5]:
import re

def unique_words(input_string):
    
    # Tokenize the input string into words (split by spaces and remove punctuation)
    
    words=re.findall(r'\b\w+\b', input_string)
    
    # Create a set to store unique words
    unique_word_set=set(words)
    return unique_word_set

# Example usage:
input_string='This is the age of AI. AI is going to leave his impact.'
unique_word_set=unique_words(input_string)

if unique_word_set:
    print('Unique words in the input string:')
    
    for word in unique_word_set:
        print(word)
else:
    print('No words found in the input string.')

Unique words in the input string:
is
the
of
going
AI
his
This
leave
impact
age
to

46. Count the number of syllables in a string.

In [6]:
import re
def count_syllables(word):
    # Remove any non-alphabet characters and convert to lowercase
    
    word=re.sub(r'[^a-zA-Z]', '', word).lower()
    
    if len(word)<=3:
        return 1 # Short words typically have 1 syllable
    
    else:
        # Use a simple rule to estimate syllables based on vowels
        # Count consecutive vowels (excluding 'e' at the end of the word)
        
        syllable_count=0
        vowels='aeiouy'
        prev_char=None
        for char in word:
            if char in vowels and (prev_char is None or prev_char not in vowels):
                syllable_count+=1
            prev_char=char
            
        # Adjust for words ending with 'e'
        if word.endswith('e'):
            syllable_count-=1
            
        # Ensure a minimum of 1 syllable
        return max(1,syllable_count)

# Example usage
input_word='Approximately'
syllable_count=count_syllables(input_word)

print(f"The word '{input_word}' has approximately {syllable_count} syllables.")

The word 'Approximately' has approximately 6 syllables.

47. Check if a string contains any special characters.

In [9]:
import re

def contains_special_characters(input_string):
    
    # Define a regular expression pattern to match special characters
    special_characters_pattern=r'[^a-zA-Z0-9\s.,!?"]'
    
    # Use re.search to find any special characters in the input string
    match=re.search(special_characters_pattern,input_string)
    
    # If a match is found, there are special characters in the string
    if match:
        return True
    else:
        return False
    
# Example usage:

input_string1='This is a string without special characters.'
    
input_string2='This is a string with $pecial characters!'
contains_special_chars1=contains_special_characters(input_string1)
contains_special_chars2=contains_special_characters(input_string2)                                

print(f'String 1 contains special characters: {contains_special_chars1}')
print(f'String 2 contains special characters: {contains_special_chars2}')

String 1 contains special characters: False
String 2 contains special characters: True

48. Remove the nth word from a string.

In [3]:
def remove_nth_word(input_string,n):
    # Split the input string into words
    
    words=input_string.split()
    
    # Check if n is a valid index
    if 1<=n<=len(words):
        # Remove the nth word (subtract 1 from n to account for 0-based indexing)
        del words[n-1]
        
        # Join the remaining words back into a string
        result_string=' '.join(words)
        
        return result_string
    
    else:
        # If n is not a valid index, return the original string
        
        return input_string
# Example usage:

input_string='full stack data science max pro'
n=int(input('enter a index:'))
result=remove_nth_word(input_string,n)

print('Modified String:',result)

enter a index: 5

Modified String: full stack data science pro

49. Insert a word at the nth position in a string.

In [28]:
def insert_word_at_nth_position(input_string,word_to_insert,n):
    # Split the input string into words
    
    words=input_string.split()
    
    # Check if n is a valid index (1 to len(words)+1
    
    if 1<=n<=len(words)+1:
        #Insert the word at the nth position (subtract 1 from n to account for 0-based indexing)
        
        words.insert(n-1,word_to_insert)
        
        # Join the words back into a string
        result_string=' '.join(words)
        
        return result_string
    else:
        # If n is not a valid index, return the original string
        return input_string
    
# Example usage:
input_string='full stack data science pro'
word_to_insert=input('enter a word to insert:')
n=int(input('enter position of word:'))

result=insert_word_at_nth_position(input_string,word_to_insert,n)
      
print('Modified String:')
print(result)

enter a word to insert: altra
enter position of word: 5

Modified String:
full stack data science altra pro

50. Convert a CSV string to a list of lists.

In [79]:
def csv_string_to_list(csv_string):
    # Split the csv string into lines
    
    lines=csv_string.split('\n')
    
    # Initialize a list to store the rows
    csv_data=[]
    
    for line in lines:
        #Split each line into values using a comma as the delimiter
        values=line.split(',')
        
        #Remove leading and trailing whitespace from each value
        cleaned_values=[value.strip() for value in values]
        
        # Append the cleaned values to the list of rows
        
        csv_data.append(cleaned_values)
        
    return csv_data

# Example usage:
csv_string="""Name, Age, City
Alice, 30, New York
Ganpat, 25, Mumbai
Baburao, 35, Pune"""

result=csv_string_to_list(csv_string)
for row in result:
    print(row)

['Name', 'Age', 'City']
['Alice', '30', 'New York']
['Ganpat', '25', 'Mumbai']
['Baburao', '35', 'Pune']

# List Based Practice Problem:

1. Create a list with integers from 1 to 10.

In [3]:
lst=[1,3,4,5,6,7,8,9,10]
print(lst)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the 'len()' function.

In [94]:
def len_of_list(input_list):
    length=0
    for element in input_list:
        length+=1
    return length
input_list=[1,2,3,4,5,'nag','sen']

result=len_of_list(input_list)

print('The length of list is:',result)

The length of list is: 7

3. Append an element to the end of a list.

In [100]:
l0=[1,2,3,4,5,6,'nag','sen','khandare']

l0.append('data scientis')

print(l0)

[1, 2, 3, 4, 5, 6, 'nag', 'sen', 'khandare', 'data scientis']

4.Insert an element at a specific index in a list.

In [107]:
def insert_element(my_list,elment_to_insert,n):
    my_list.insert(n,element_to_insert)
    
    return my_list

my_list=[1,2,3,4,5,6,'nag','sen','data']
element_to_insert=input('enter element to insert:')

n=int(input('enter an index:'))

result=insert_element(my_list,element_to_insert,n)

print('The list with inserted element is:')
print(result)

enter element to insert: scientist
enter an index: 9

The list with inserted element is:
[1, 2, 3, 4, 5, 6, 'nag', 'sen', 'data', 'scientist']

5. Remove an element from a list by its value.

In [131]:
my_list=[1,2,3,4,5,6,'data','science','nagsen']

element_to_remove='nagsen'
my_list.remove(element_to_remove)

print(my_list)

[1, 2, 3, 4, 5, 6, 'data', 'science']

6. Remove an element from a list by its index.

In [134]:
def remove_list_element(my_list,remove_index):
    del my_list[remove_index]
    return my_list


# Input usage:
my_list=[6,7,8,1,0,'nag','sen','data',True,False,]

remove_index=int(input('enter index to remove:'))
my_list=remove_list_element(my_list,remove_index)

print('The list after removing the element at particular index:')
print(my_list)

enter index to remove: 4

The list after removing the element at particular index:
[6, 7, 8, 1, 'nag', 'sen', 'data', True, False]

7. Check if an element exists in a list.

In [145]:
list1=[1,2,3,4,5,6,7,'data','ai','power bi']

element_to_check='power bi'

if element_to_check in list1:
    print(f'{element_to_check} is in a list.')
    
else:
    print(f'{element_to_check} is not in a list.')

power bi is in a list.

8. Find the index of the first occurrence of an element in  a list.

In [167]:
# List example
list2=[1,4,5,2,3,4,5,3,5,2,3]
# Element to find first occurrence 

element_to_find=5

# Initialize a variable to store the index
index=None

# Iterate through the list to find the index of the element
for i, value in enumerate(list2):
    if value==element_to_find:
        index=i
        # Stop searching after the first occurrence
        break
        
if index is not None:
    print(f'The index of the first occurrence of {element_to_find} is {index}.')
    
else:
    print(f'{element_to_find} is not in the list.')

The index of the first occurrence of 5 is 2.

9. Count the occurrences of an element in a list.

In [168]:
list4=[1,2,3,4,5,7,8,9,8,7,6,0,9,0,90,4,5,5]
element_to_count=5
count=list4.count(element_to_count)

print(f'The occurrences of {element_to_count} in a list is {count}.')

The occurrences of 5 in a list is 3.

10. Reverse the order of elements in a list.

In [27]:
list9=[1,2,3,4,'nag','sen','pro','data']
list9.reverse()
print(list9)

['data', 'pro', 'sen', 'nag', 4, 3, 2, 1]

11. Sort a list in ascending order.

In [5]:
lst5=[6,7,8,4,9,0,1,3,2,54,0]
# Use sort() function to modify original list in-place

lst5.sort()
print(lst5)

[0, 0, 1, 2, 3, 4, 6, 7, 8, 9, 54]

12. Sort a list in descending order.

In [10]:
lst7=[1,2,3,0,9,2,7,6,8,9]

# Use sorted() function with reverse=True argument to get the sorted list of element in descending order, it keep original list unchange

sorted_list=sorted(lst7,reverse=True)
print(f'The sorted list in descending order is:')
print(sorted_list)

The sorted list in descending order is:
[9, 9, 8, 7, 6, 3, 2, 2, 1, 0]

13. Create a list of even numbers from 1 to 20.

In [14]:
def even_number_list(my_list):
    my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    even_num_lst=[]
    for num in my_list:
        if num%2==0:
            even_num_lst.append(num)
    return even_num_lst
even_num_lst=even_number_list(my_list)
print('The list of even numbers is:')
print(even_num_lst)

The list of even numbers is:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [17]:
# Create a list of off number using list comprehension

odd_numbers=[x for x in range(1,21) if x%2!=0]

#Print the list of odd numbers
print('The list of odd numbers is:')
print(odd_numbers)

The list of odd numbers is:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [23]:
lst3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

# Use sum() function to take sum of elements

sum_of_elements=sum(lst3)

print('The sum of elements in a list:',sum_of_elements)

The sum of elements in a list: 120

16. Find the maximum value in a list.

In [1]:
lst=[1,2,5,9,0,15000]

# Use max() function to find maximum value in list
max_value=max(lst)
print('The maximum value in a list is:',max_value)

The maximum value in a list is: 15000

17. Find the minimum value in a list.

In [2]:
lst=[1,2,5,9,0,15000]

# Use min() function to find minimum value in a list.
min_value=min(lst)
print('The minimum value in a list is:',min_value)

The minimum value in a list is: 0

18. Create a list of squares of numbers from 1 to 10.

In [3]:
# Use list comprehension to store square of numbers
square=[x**2 for x in range(1,11)]
print('The square of the numbers are:')
print(square)

The square of the numbers are:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [13]:
import random

# Define the range and length of a list
start_range=1
end_range=50
list_length=10

# Create a list of random integers within the specified range
random_numbers=[random.randint(start_range,end_range) for _ in range(list_length)]

# Print the list of random numbers
print('The list of the random numbers:',random_numbers)

The list of the random numbers: [21, 22, 9, 27, 43, 47, 49, 10, 10, 17]

20. Remove duplicates from a list.

In [30]:
lst5=[1,2,3,2,4,3,5,4,6,5,4,6]
# Create empty list to store unique elements.
unique_list=[]
for num in lst5:
    if num not in unique_list:
        unique_list.append(num)
        
print('The list after removing the duplicates is:',unique_list)

The list after removing the duplicates is: [1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [54]:
lst33=[1,2,3,4,5,6,4,3,2,3,4,5,6,'nag','sen','data','science']
lst44=[1,2,3,6,4,32,8,9,5,5,'pro','sen']

common_list=[]

    
for num in lst33 and lst44:
    if num in lst33 and lst44:
        common_list.append(num)
        
print('The common elements between two list:')
# Use set() to remove the common elements 
print(list(set(common_list)))

The common elements between two list:
[1, 2, 3, 4, 5, 6, 'sen']

22. Find the difference between two lists.

In [56]:
lst33=[1,2,3,4,5,6,4,3,2,3,4,5,6,'nag','sen','data','science']
lst44=[1,2,3,6,4,32,8,9,5,5,'pro','sen']

different_elements=[]
for num in lst33:
    if num not in lst44:
        different_elements.append(num)
        
        
print('The different elements between two list are:')
print(different_elements)

The different elements between two list are:
['nag', 'data', 'science']

23. Merge two lists.

In [72]:
lst6=[1,2,'nag','sen']
lst7=[3,4,'data','science']
# Use extend() module to merge two list

lst6.extend(lst7)
print('The combined two lists:')
print(lst6)

The combined two lists:
[1, 2, 'nag', 'sen', 3, 4, 'data', 'science']

24. Multiply all elements in a list by 2.

In [73]:
lst=[1,2,3,4,5,6,7,8,9,10]

# Use list comprehension
mult_lst=[i*2for i in lst]

print('The list after multiplication:')
print(mult_lst)

The list after multiplication:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [80]:
lst=[1,2,3,4,5,6,7,8,9,10]

# Use list comprehension to filter out even number
odd_num=[i for i in lst if i%2!=0]

print('List after filtering out even numbers:',odd_num)

List after filtering out even numbers: [1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [4]:
str_list=['1','2','3','4','5','6']

# Use list comprehension 
int_list=[int(x) for x in str_list]
print('Converted list:')
print(int_list)

Converted list:
[1, 2, 3, 4, 5, 6]

27. Convert a list of integers to a list of strings.

In [6]:
int_lst=[1,2,3,4,5,6,7]
str_lst=[str(x) for x in int_lst]
print('The converted list:')
print(str_lst)

The converted list:
['1', '2', '3', '4', '5', '6', '7']

28. Flatten a nested list.

In [18]:
def flatten_nested_list(nested_list):
    flattened_list=[]
    for item in nested_list:
        if isinstance(item,list):
            # Use recursion function
            flattened_list.extend(flatten_nested_list(item))
        else:
            flattened_list.append(item)
            
    return flattened_list

nested_list=[1,2, [5,6,8,[5,0,[6],6,],3,4,]]
flattened_list=flatten_nested_list(nested_list)

print('The flattened list:')
print(flattened_list)

The flattened list:
[1, 2, 5, 6, 8, 5, 0, 6, 6, 3, 4]

29. Create a list of the first 10 Fibonacci numbers.

In [3]:
# Initialize the first two Fibonacci numbers
fibonacci_list=[0,1]

# Use for loop to generate next 8 Fibonacci numbers.

for i in range(2,10):
    next_fibonacci=fibonacci_list[i-1]+ fibonacci_list[i-2]
    fibonacci_list.append(next_fibonacci)
    
print('The list of first ten Fibonacci numbers:')
print(fibonacci_list)

The list of first ten Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [11]:
def is_sorted(input_list):
    n=len(input_list)
    for i in range(1,n):
        if input_list[i-1]>input_list[i]:
            return False
    return True

# Example usage:
sorted_list=[1,2,3,4,7,8,9]
unsorted_list=[4,5,2,8]

if is_sorted(sorted_list):
    print('The list is sorted.')
else:
    print('The list is not sorted.')
    
if is_sorted(unsorted_list):
    print('The list is sorted.')
else:
    print('The list is not sorted.')

The list is sorted.
The list is not sorted.

31. Rotate a list to the left by 'n' positions.

In [27]:
def rotate_left(lst,n):
    if len(lst)==0:
        # Nothing to rotate if list is empty
        return lst
    else:
        
        n=n%len(lst) # Ensure n is within the length of the list
        return lst[2:]+l[:2]
    
# Example usage:
my_list=[2,3,4,7,9,10,4]
n=2 # Rotate left by 2 positions

rotated_list=rotate_left(my_list,n)
print('Rotated list:')
print(rotated_list)

Rotated list:
[4, 7, 9, 10, 4, 2, 3]

32. Rotate a list to the right by 'n' position.

In [32]:
def rotate_right(lst,n):
    if len(lst)==0: # Nothing to rotate if the list is empty
        return lst
    n=n%len(lst)
    return lst[-n:] + lst[:-n]

# Example usage:
lst=[1,4,3,5,6,9,8,0,3]
n=int(input('enter position to rotate:'))
rotated_list=rotate_right(lst,n)
print('Rotated list:')
print(rotated_list)

enter position to rotate: 3

Rotated list:
[8, 0, 3, 1, 4, 3, 5, 6, 9]

33. Create a list of prime numbers up to 50.

In [1]:
def is_prime(num):
    if num<=1:
        return False
    if num <=3:
        return True
    if num%2==0 or num%3==0:
        return False
    i=5
    while i*i <=num:
        if num%i==0 or num%(i+2)==0:
            return False
        i+=6
    return True

# Generate a list of prime numbers up to 50

prime_list=[num for num in range(2,51) if is_prime(num)]
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34.Split a list into chunks of size 'n'.

In [1]:
def split_list_into_chunks(lst,n):
    #Use list comprehension 
    return [lst[i:i+n] for i in range(0,len(lst),n)]

my_list=[1,2,3,4,5,6,7,8,9]
chunk_size=3

chunked_list=split_list_into_chunks(my_list,chunk_size)
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [8]:
def find_second_largest(lst):
    if len(lst)<2:
        return None # There is no second largest number in a list with less than two elements
    
    # Initialize the largest and second largest variable
    largest=second_largest=float('-inf')
    
    # Iterate through the list to find the largest and second largest numbers
    
    for num in lst:
        if num>largest:
            second_largest=largest
            largest=num
        elif num > second_largest and num != largest:
            second_largest=num
    #If there is no second largest (all elements are the same), return None
    if second_largest==float('-inf'):
        return None
    return second_largest

# Example usage:

my_list=[1,2,3,4,9,7,8]
second_largest=find_second_largest(my_list)
print('The second largest number is:',second_largest)

The second largest number is: 8

36. Replace every element in a list with its square.

In [10]:
lst=[1,2,3,4,5,6,7,8,9]
# Use list comprehension to store square of elements

square_list=[i**2 for i in lst]

print('The list of elements square is:')
print(square_list)

The list of elements square is:
[1, 4, 9, 16, 25, 36, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [21]:
my_list=[2,3,4,'nag','sen','data','pro']

# Use dictionary comprehension to create the dictionary

my_dict={element:index for index, element in enumerate(my_list)}

print('Converted list into dictionary.')
print(my_dict)

Converted list into dictionary.
{2: 0, 3: 1, 4: 2, 'nag': 3, 'sen': 4, 'data': 5, 'pro': 6}

38. Shuffle the elements of a list randomly.

In [24]:
import random

my_list=[2,3,4,5,6,7,8,'nag','sen','altra']

# shuffle the list randomly in-place
random.shuffle(my_list)
print('The shuffled list:')
print(my_list)

The shuffled list:
[7, 8, 'altra', 2, 'nag', 6, 3, 5, 'sen', 4]

39. Create a list of the first 10 factorial numbers.

In [27]:
def factorial(num):
    if num==0:
        return 1
    else: # use recursion faction 
        return num*factorial(num-1)
factorial_numbers=[factorial(n) for n in range(1,11)]
print('List of first 10 factorial numbers:')
print(factorial_numbers)

List of first 10 factorial numbers:
[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [29]:
def has_common_element(lst1,lst2):
    set1=set(lst1)
    set2=set(lst2)
    
    return len(set1.intersection(set2))>0

# Example usage:

lst1=[1,6,7,4,9,0]
lst2=[5,3,8,6,2]
result=has_common_element(lst1,lst2)

if result:
    print('The lists have at least one common element.')
else:
    print('The lists have no common element.')

The lists have at least one common element.

41. Remove all elements from a list.

In [36]:
list77=[1,2,3,6,'full','stack','data']

list77.clear()

print(list77)

[]

42. Replace negative numbers in a list with 0.

In [51]:
my_list=[2,3,4,-5,2,-7,-9,2,3]

# Use list comprehension to replace negative numbers with 0
modified_list=[0 if num<0 else num for num in my_list]

print(modified_list)

[2, 3, 4, 0, 2, 0, 0, 2, 3]

43. Convert a string into a list of words.

In [53]:
string='full stack data science pro'

word_list=string.split()

print('list of words:',word_list)

list of words: ['full', 'stack', 'data', 'science', 'pro']

44. Convert a list of words into a string.

In [55]:
word_list=['full','stack','data','science','pro']

string4=' '.join(word_list)

print(string4)

full stack data science pro

45. Create a list of the first 'n' powers of 2.

In [64]:
base=2

n=int(input('enter a number to generate powers:'))

list_of_power=[base**i for i in range(n)]

print('list of powers of 2:',list_of_power)

enter a number to generate powers: 10

list of powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [2]:
def find_longest_string(string_list):
    if not string_list:
        return None  # Return None for an empty list
    
    longest_string=string_list[0] # Initialize with the first string
    
    for string in string_list:
        if len(string)>len(longest_string):
            longest_string=string
    return longest_string

# Example usage:

string_list=['full','stack','data','pro','this is the longest string']

longest=find_longest_string(string_list)

print('longest string in the list:',longest)

longest string in the list: this is the longest string

47. Find the shortest string in a list of string.

In [6]:
def find_shortest_string(string_list):
    if not string_list:
        return None # Return None for an empty string
    
    shortest_string=string_list[0] # Initialize with first string
    
    for string in string_list:
        if len(string)<len(shortest_string):
            shortest_string=string
            
    return shortest_string

string_list=['full','stack','data','science','pro','analyst','data engineer']
shortest=find_shortest_string(string_list)

print('The shortest string in a list is:',shortest)

The shortest string in a list is: pro

48. Create a list of the first 'n' triangular numbers.

In [15]:
def Create_triangular_numbers(n):
    triangular_num=[]
    total=0
    for i in range(1,n+1):
        total+=i
        triangular_num.append(total)
    return triangular_num
        
n=int(input('enter number to generate first triangular numbers:'))

result=Create_triangular_numbers(n)
print(f'The first {n} triangular numbers are:')
print(result)

enter number to generate first triangular numbers: 10

The first 10 triangular numbers are:
[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [1]:
def is_subsequence(sublist,mainlist):
    sub_len=len(sublist)
    main_len=len(mainlist)
    
    i=0 # Index for the sublist
    j=0 # Index for the mainlist
    
    while i<sub_len and j<main_len:
        if sublist[i]==mainlist[j]:
            i+=1
        j+=1
        
    return i==sub_len

# Example usage:

mainlist=[1,2,3,4,5,6,7,8,9]
sublist=[4,6,9]

if is_subsequence(sublist,mainlist):
    print('The mainlist contain sublist as subsequence.')
else:
    print('The mainlist not contain sublist as a subsequence.')

The mainlist contain sublist as subsequence.

50. Swap two elements in a list by their indices.

In [2]:
lst=[1,2,4,3,6,5,7,9,8]

lst[2]=6
lst[4]=4

print(lst)

[1, 2, 6, 3, 4, 5, 7, 9, 8]

# Tuple Based Practice Problem:

1. Create a tuple with integers from 1 to 5.

In [3]:
t=(1,2,3,4,5)

print(t)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [1]:
tuple1=('nag','sen',1,2,3,4,4,4,'data')

# Access third element

print(tuple1[3])

2

3. Find the length of a tuple without using the 'len()' function.

In [4]:
def find_tuple_length(tuple2):
    length=0
    
    for i in tuple2:
        length+=1
    return length

tuple2=(2,3,4,5,6,'nag','sen','data')
length=find_tuple_length(tuple2)
print('The length of tuple is:')
print(length)

The length of tuple is:
8

4. Count the occurrences of an element in a tuple.

In [5]:
tuple3=(1,2,3,7,8,9,4,5,4,3,5,7,8,4,4,44,4)
print('The occurrences of an element is:')
tuple3.count(4)

The occurrences of an element is:

5

5. Find the index of the first occurrence of an element in a tuple.

In [7]:
tuple4=(1,2,3,7,8,9,4,5,4,3,5,7,8,4,4,44,2,3,)
 
element_to_find=4
index=tuple4.index(element_to_find)
print('The index of the first occurrence of element is:')
print(index)

The index of the first occurrence of element is:
6

6. Check if an element exists in a tuple.

In [8]:
tuple5=(1,2,3,4,'full','stack','pro','ai')

element='pro'
for i in tuple5:
    if element in tuple5:
        print(f"The element '{element}' present in the tuple.")
        break
        
    else:
        print(f"The element '{element}' not present in the tuple.")
        break

The element 'pro' present in the tuple.

7. Convert a list to a tuple.

In [9]:
lst=[1,2,3,4,5,'nag','sen','data','science']

tuple(lst)

(1, 2, 3, 4, 5, 'nag', 'sen', 'data', 'science')

8. Convert a tuple to a list.

In [10]:
tuple7=(1,5,4,7,9,8,3,'pro')

list(tuple7)

[1, 5, 4, 7, 9, 8, 3, 'pro']

9. Unpack the elements of a tuple into variables.

In [11]:
tuple88=(1,2,4,6,'data','science','pro')

# Unpack the elements into variables
a,b,c,d,e,f,g=tuple88

print(f"a:{a}, b:{b}, c:{c}, d:{d}, e:{e}, f:{f}, g:{g}")

a:1, b:2, c:4, d:6, e:data, f:science, g:pro

10. Create a tuple of even numbers from 1 to 10.

In [7]:
# Use list-comprehension and then convert it into tuple

even_numbers=tuple(i for i in range(1,11) if i%2==0)
print('The even numbers:')
print(even_numbers)

The even numbers:
(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [9]:
# Use list-comprehension and then convert it into tuple

odd_numbers=tuple(x for x in range(1,11) if x%2!=0)
print('odd numbers:',odd_numbers)

odd numbers: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [10]:
tuple1=(1,2,3,4,'nag')
tuple2=(7,8,9,'sen')

concatenate=tuple1+tuple2

print(concatenate)

(1, 2, 3, 4, 'nag', 7, 8, 9, 'sen')

13. Repeat a tuple three times.

In [13]:
tuple8=(1,2,3,8,7,0)

repeat_tuple=tuple8*3

print(repeat_tuple)

(1, 2, 3, 8, 7, 0, 1, 2, 3, 8, 7, 0, 1, 2, 3, 8, 7, 0)

14. Check if a tuple is empty.

In [1]:
tuple9=()

if not tuple9:
    print('The tuple is empty.')
else:
    print('The tuple is not empty.')

The tuple is empty.

15. Create a nested tuple.

In [9]:
nested_tuple=(3,4,(1,2,3,),5,7,8, (4,5,6),9,0, (7,8,9),5,6,1)

print(nested_tuple)

(3, 4, (1, 2, 3), 5, 7, 8, (4, 5, 6), 9, 0, (7, 8, 9), 5, 6, 1)

16. Access the first element of a nested tuple.

In [14]:
tuple99=((2,3,4),(5,6,7),(1,0,9,4))

print(tuple99[0][0])

2

17. Create a tuple with a single element.

In [15]:
tuple0=('single')
print(tuple0)

single

18. Compare two tuples.

In [14]:
tuple1=(1,2,3,8,9,88)
tuple2=(1,2,3,30)

if tuple1>tuple2:
    print('Tuple1 is greater than Tuple2.')
elif tuple1<tuple2:
    print('tuple1 is less than tuple2.')
    
else:
    print('Tuples are equal.')

tuple1 is less than tuple2.

19. Delete a tuple.

In [12]:
tuple7=(5,6,7,7)
del tuple7

# it will delete from memory and cannot be recover

20. Slice a tuple.

In [28]:
tuple77=(3,4,5,5,6,7,'nag','sen',8,9)

slice_tuple=tuple77[5:]

print(slice_tuple)

(7, 'nag', 'sen', 8, 9)

21. Find the maximum value in a tuple.

In [30]:
tuple99=(2,3,4,5)

maximum=max(tuple99)
print(maximum)

5

22. Find the minimum value in a tuple.

In [31]:
tuple7=(98,8,7,5,4,3)

minimum=min(tuple7)
print(minimum)

3

23. Convert a string to a tuple of characters.

In [35]:
string='full stack data science'

char=tuple(string)
print('Tuple of characters:')
print(char)

Tuple of characters:
('f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

24. Convert a tuple of characters to a string.

In [38]:
char_tuple=('f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

string=''.join(char_tuple)
print(string)

full stack data science

25. Create a tuple from multiple data types.

In [40]:
multi_type_tuple=(2,3,4,'nag','sen',True,False,5.6,8.4,[4,5],{4,5,6,},{'a':4,'c':2,})
print('The multiple data types tuple:')
print(multi_type_tuple)

The multiple data types tuple:
(2, 3, 4, 'nag', 'sen', True, False, 5.6, 8.4, [4, 5], {4, 5, 6}, {'a': 4, 'c': 2})

26. Check if two tuples are identical.

In [52]:
tuple4=(3,4,5,6,7)
tuple8=(3,4,5,6,7)

# Use '==' equality operator to check equality
if tuple4==tuple8:
    print('tuples are identical.')
else:
    print('tuples are not identical.')

tuples are identical.

27. Sort the elements of a tuple.

In [69]:
tuple99=(5,6,3,2,6,7,8)
# We cannot directly sort elements in tuple cause tuple are immutable
# Use sorted function to create sorted list of elements in tuple 
sorted_list=sorted(tuple99)
# Convert it back into the tuple 
sorted_tuple=tuple(sorted_list)
print('The sorted elements of the tuple:')
print(sorted_tuple)

The sorted elements of the tuple:
(2, 3, 5, 6, 6, 7, 8)

28. Convert a tuple of integers to a tuple of strings.

In [70]:
int_tuple77=(2,3,4,5,6,7,8)

# Use tuple comprehension (generator expression) to convert integers into string.

str_tuple=tuple(str(item) for item in int_tuple77)

print('Tuple of string:')
print(str_tuple)

Tuple of string:
('2', '3', '4', '5', '6', '7', '8')

29. Convert a tuple of strings to a tuple of integers.

In [75]:
tuple44=('1','5','7','9')

# Use tuple comprehension (generator expression)

int_tuple=tuple(int(i)for i in tuple44)
print('The tuple of integers is:',int_tuple)

The tuple of integers is: (1, 5, 7, 9)

30. Merge two tuples.

In [78]:
tuple1=(1,2,3,4,5)
tuple2=(5,6,7,8,9)

merged_tuple=tuple1+tuple2
print('Merged tuples are:')
print(merged_tuple)

Merged tuples are:
(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

31. Flatten a nested tuple.

In [94]:
def flatten_tuple(nested_tuple):
    flat_list=[]
    for item in nested_tuple:
        if isinstance(item,tuple):
            # If the item is tuple, recursively flatten it
            
            flat_list.extend(flatten_tuple(item))
            
        else:
            # If the item is not a tuple, add it to the flat list
            
            flat_list.append(item)
            
    return tuple(flat_list)

nested_tuple=(1,2,3,(3,4,5),6,(7,8,9),9,0)

result=flatten_tuple(nested_tuple)

print('The flattened tuple is:')
print(result)

The flattened tuple is:
(1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9, 0)

32. Create a tuple of the first 5 prime numbers.

In [3]:
def generate_primes(count):       
    prime_list=[]
    num=2
    while len(prime_list)<count:
        is_prime=True
        for i in range(2,int(num**0.5) +1):
            if num%i==0:
                is_prime=False
                break
        if is_prime:
            prime_list.append(num)
            
        num+=1
    return tuple(prime_list)

# Call the function to generate a tuple of the first 5 prime numbers
first_5_primes=generate_primes(5)
print(first_5_primes)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [14]:
def is_palindrome(tuple4):
    
    reverse_tuple=tuple4[::-1]
    return reverse_tuple

tuple4=(1,2,3,4,3,2,1)

reverse_tuple=is_palindrome(tuple4)

if reverse_tuple==tuple4:
    print('The tuple is palindrome.')
else:
    print('The tuple is not palindrome.')

The tuple is palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [18]:
def square_tuple(n):
    list_tuple=[]
    
    for i in range(1,6):
        i=i**2
        list_tuple.append(i)
        
    return list_tuple

n=range(1,6)
list_tuple=square_tuple(n)
result=tuple(list_tuple)

print('The tuple of squares of numbers is:',result)

The tuple of squares of numbers is: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [3]:
def filter_even_num(t):
    # Use list comprehension to filter out even numbers
    filtered_list=[i for i in t if i%2!=0]
    return tuple(filtered_list)

t=(2,3,4,5,6,8,7,8,9,0,6,5,3,3,2)

filtered_tuple=filter_even_num(t)

print(filtered_tuple)

(3, 5, 7, 9, 5, 3, 3)

36. Multiply all elements in a tuple by 2.

In [16]:
tuple9=(2,3,4,5,6,7,6)
list_tuple=[]
for i in tuple9:
    i=i*2
    list_tuple.append(i)
    

new_tuple=tuple(list_tuple)
print(new_tuple)

(4, 6, 8, 10, 12, 14, 12)

37. Create a tuple of random numbers.

In [22]:
import random

random_numbers=tuple(random.randint(1,100) for _ in range(10))

print(random_numbers)

(33, 66, 41, 23, 6, 33, 58, 74, 85, 26)

38. Check if a tuple is sorted.

In [28]:
def is_sorted_tuple(input_tuple):
    # Compare the original tuple to a sorted version of itself
    # check for the asscending order
    return input_tuple==tuple(sorted(input_tuple))

input_tuple=(2,3,4,5,6,7,8)

if is_sorted_tuple(input_tuple):
    print('The tuple is sorted.')
else:
    print('The tuple is not sorted.')

The tuple is sorted.

39. Rotate a tuple to the left by 'n' positions.

In [40]:
def rotate_tuple_left(input_tuple,n):
    if len(input_tuple)==0:
        return input_tuple
    
    n=n%len(input_tuple) # Ensure n is within the range of the tuple's length
    rotated_tuple=input_tuple[n:]+input_tuple[:n]
    return rotated_tuple

input_tuple=(1,2,3,4,5,6,7,8,9)
n=3

rotated=rotate_tuple_left(input_tuple,n)
print(rotated)

(4, 5, 6, 7, 8, 9, 1, 2, 3)

40. Rotate a tuple to the right by 'n' positions.

In [46]:
def rotate_tuple_right(input_tuple,n):
    if len(input_tuple)==0:
        return input_tuple
    n=n%len(input_tuple) # Insure that the n is within the range of tuple length
    return input_tuple[-n:] + input_tuple[:-n]
    
input_tuple=(1,2,3,4,5,6,7,8,9)
n=11
rotated=rotate_tuple_right(input_tuple,n)
print(rotated)

(8, 9, 1, 2, 3, 4, 5, 6, 7)

41. Create a tuple of the first 5 Fibonacci numbers.

In [2]:
def generate_fibonacci(n):
    fibonacci_sequence=[0,1] # Initialize the sequence with the first two Fibonacci numbers.
    
    while len(fibonacci_sequence)<n:
        next_number=fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)

# Generate the first 5 fibonacci numbers
n=5
first_5_fibonacci=generate_fibonacci(n)


print(first_5_fibonacci)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [5]:
# Initialize an empty list to store user inputs

user_inputs=[]

# Ask the user for input and append them to the list

n=int(input('Enter the number of elements in the tuple:'))

for i in range(n):
      user_value=input(f'enter element {i+1}:')
      
      user_inputs.append(user_value)
      
# Create a tuple from the user inputs
user_tuple=tuple(user_inputs)

# Print the resulting tuple
print("User's Tuple:", user_tuple)

Enter the number of elements in the tuple: 15
enter element 1: 5
enter element 2: 7
enter element 3: 8
enter element 4: 3
enter element 5: 6
enter element 6: 9
enter element 7: 9
enter element 8: 3
enter element 9: 2
enter element 10: 6
enter element 11: 6
enter element 12: 7
enter element 13: 9
enter element 14: 6
enter element 15: 5

User's Tuple: ('5', '7', '8', '3', '6', '9', '9', '3', '2', '6', '6', '7', '9', '6', '5')

43. Swap two elements in a tuple.

In [20]:
def swap_tuple(input_tuple,index1,index2):
    #As tuple is immutable we cannot swap elements in it directly
    mutable_list=list(input_tuple)
    
    # Swaping the elements in list
    mutable_list[index1],mutable_list[index2]=mutable_list[index2],mutable_list[index1]
    
    # Convert list back to a tuple
    swapped_tuple=tuple(mutable_list)
    return swapped_tuple

my_tuple=(1,2,3,4,5,6,7,8,9)
index1=4
index2=7
result_tuple=swap_tuple(my_tuple,index1,index2)
print(result_tuple)

(1, 2, 3, 4, 8, 6, 7, 5, 9)

44. Reverse the elements of a tuple.

In [21]:
def reverse_tuple_elements(input_tuple):
    # As tuple is immutable convert it to list
    tuple_list=list(input_tuple)
    
    reverse_list=tuple_list[::-1]
    
    # convert list back to a tuple
    reversed_tuple=tuple(reverse_list)
    
    return reversed_tuple


input_tuple=(1,2,3,4,5,6,7,8,9)
result=reverse_tuple_elements(input_tuple)

print('The reversed tuple is:',result)

The reversed tuple is: (9, 8, 7, 6, 5, 4, 3, 2, 1)

45. Create a tuple of the first 'n' powers of 2.

In [27]:
def powers_tuple(n):
    list_powers=[]  # Initialize list to store 2's powers
    
    for i in range(n):
        i=2**i
        list_powers.append(i)
    # Convert list to tuple    
    return tuple(list_powers)

n=int(input('enter number of powers:'))

result=powers_tuple(n)

print(f"The first '{n}' powers of two is:",result)

enter number of powers: 11

The first '11' powers of two is: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

46. Find the longest string in the tuple of string.

In [41]:
def find_longest_string(input_tuple):
    if not input_tuple:
        return None # return None for an empty tuple
    # Initialize with the first string
    longest_string=input_tuple[0]
    for word in input_tuple:
        if len(word)>len(longest_string):
            longest_string=word
            
    return longest_string

input_tuple=('full','stack','data','science','pro','this is the longest string')

result=find_longest_string(input_tuple)
print('The longest string in the tuple is:',result)

The longest string in the tuple is: this is the longest string

47. Find the shortest string in a tuple of string.

In [42]:
def find_shortest_string(input_tuple):
    if not input_tuple:
        return None # Return None for an empty tuple
    
    # Initialize with the first string
    
    shortest_string=input_tuple[0]
    for string in input_tuple:
        if len(string)<len(shortest_string):
            shortest_string=string
    return shortest_string

input_tuple=('full','stack','data','science','pro','master')

result=find_shortest_string(input_tuple)

print('The shortest string in a tuple is:',result)

The shortest string in a tuple is: pro

48. Create a tuple of the first 'n' triangular numbers.

In [44]:
def create_triangular_num(n):
    # Create list to store triangular numbers
    
    triangular_numbers=[]
    total=0
    
    for i in range(1,n+1):
        total+=i
        triangular_numbers.append(total)
        
    return tuple(triangular_numbers)

n=int(input('enter the number of triangular numbers:'))

result=create_triangular_num(n)
print(f"The first '{n}' triangular numbers are:",result)

enter the number of triangular numbers: 10

The first '10' triangular numbers are: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [53]:
def is_subsequence(subsequence, sequence):
    sub_len=len(subsequence)
    seq_len=len(sequence)
    
    if sub_len>seq_len:
        return False
    
    i=0 # Index for the larger tuple 'sequence'
    j=0 # Index for the smaller tuple 'subsequence'
    
    while i< seq_len:
        if sequence[i]==subsequence[j]:
            j+=1
            if j==sub_len:
                return True # Found the subsequence
        i+=1
        
    return False # Subsequence not found

# Example Usage:
main_tuple=(1,2,3,4,5,6,7,8,9)
sub_tuple=(5,6,7)

if is_subsequence(sub_tuple,main_tuple):
    print('The sub_tuple is a subsequence of the main tuple.')
    
else:
    print('The sub_tuple is not a subsequence of the main tuple.')

The sub_tuple is a subsequence of the main tuple.

50. Create a tuple of alternating 1s and 0s of length 'n'.

In [30]:
def alternating_ones_and_zeros(n):
    if n <= 0:
        return ()
    
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Example usage:
n = 10  # You can change this to the desired length
result_tuple = alternating_ones_and_zeros(n)
print(result_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem:

In [4]:
#1. Create a set with integers from 1 to 5.
set={1}
for i in range(2,6):
    set.add(i)
    
print(set)

{1, 2, 3, 4, 5}

In [5]:
#2. Add an element to a set.
set={1,2,3,4,5,6}

set.add(7)
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
#3. Remove an element from a set.
set={1,2,3,5,6,7}

set.remove(5)
print(set)

{1, 2, 3, 6, 7}

In [12]:
#4. Check if an element exists in a set.
set3={1,2,3,5,'nag','sen','pro'}

# Check if an element exists in the set

element_to_check='nag'

if element_to_check in set3:
    print(f'{element_to_check} exists in the set.')
    
else:
    print(f'{element_to_check} does not exist in the set.')

nag exists in the set.

In [13]:
#5. Find the length of a set without using the 'len()' function.
def find_length(set4):
    length=0
    
    for i in set4:
        length+=1
        
    return length

set4={1,2,3,4,5,6,7}

result=find_length(set4)
print('The length of the set is:')
print(result)

The length of the set is:
7

In [16]:
#6. Clear all elements from a set.
set9={4,5,6,7,89,0}

set9.clear()
print(set9)

set()

In [36]:
#7. Create a set of even numbers from 1 to 10.
# Use set comprehension 
even_num={num for num in range(1,11) if num%2==0}

print('The set of even numbers is:',even_num)

The set of even numbers is: {2, 4, 6, 8, 10}

In [37]:
#8. Create a set of odd numbers from 1 to 10.
# Use set comprehension

odd_num={num for num in range(1,11) if num%2!=0}

print('The set of odd numbers is:',odd_num)

The set of odd numbers is: {1, 3, 5, 7, 9}

In [1]:
#9. Find the union of two sets.
set1={1,2,3,4}
set2={3,4,5,6,7,8}
# use union method , it will give all unique elements in both sets
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
#10. Find the intersection of two sets.
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8,9,0}

intersection_set=set1.intersection(set2)
print(intersection_set)

{3, 4, 5, 6, 7}

In [5]:
#11. Find the difference between two sets.
set7={1,2,3,4,5,6,7}
set8={6,7,5,4,3}

set_difference=set7.difference(set8)
print(set_difference)

{1, 2}

In [14]:
#12. Check if a set is a subset of another set.
set9={1,2,3,4,5,6,7,8,9}
set1={9,5,6,1}

is_subset=set1.issubset(set9)
if is_subset:
    print('The given set is a subset of a set.')
else:
    print('The given set is not a subset of a set.')

The given set is a subset of a set.

In [18]:
#13. Check if a set is a superset of another set.
set9={1,2,3,4,5,6,7,8,9}
set1={9,5,6,1}

is_superset=set9.issuperset(set1)
if is_superset:
    print('The given set is a superset of a set.')
else:
    print('The given set is not a superset of a set.')

The given set is a superset of a set.

In [19]:
#14. Create a set from a list.
lst=[1,2,3,4,5,6]

set7=set(lst)
print(set7)

{1, 2, 3, 4, 5, 6}

In [20]:
#15. Convert a set to a list.
set7={2,3,4,5,6,7,8,8,8,8,9}

lst=list(set7)

print(lst)

[2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#16. Remove a random element from a set.
import random

my_set={1,2,4,5,6,7,8,9,88}

if my_set:
    # Use random.choice method to select random element
    removed_element=random.choice(list(my_set))
    my_set.remove(removed_element)
    print(f"Removed element: {removed_element}")
else:
    print('The set is empty.')
print(f"Updated set: {my_set}")

Removed element: 7
Updated set: {1, 2, 4, 5, 6, 8, 9, 88}

In [47]:
#17. Pop an element from a set.
set2={2,3,4,5,6,7,8}
set2.pop()
print(set2)

{3, 4, 5, 6, 7, 8}

In [57]:
#18. Check if two sets have no elements in common.
set2={1,2,3,4,5,6,7,8,9}
set8={3,4,5,99,88,77}

common=set2.intersection(set8)
if common:
    print(f"The sets have common elements: {common}")
else:
    print('The sets not have common elements.')

The sets have common elements: {3, 4, 5}

In [60]:
#19. Find the symmetric difference between two sets.
set2={1,2,3,4,5,6,7,8,9}
set8={3,4,5,99,88,77}
symmetric_diff=set2.symmetric_difference(set8)
print(symmetric_diff)

{1, 2, 99, 6, 7, 8, 9, 77, 88}

In [46]:
#20. Update a set with elements from another set.
set7={1,23,4,5,6,7,9}
set9={1,55,66,77,90}

set7.update(set9)
print('The updated set7 is:', set7)

The updated set7 is: {1, 66, 4, 5, 6, 7, 9, 77, 55, 23, 90}

In [47]:
#21. Create a set of the first 5 prime numbers.
def is_prime(n):
    if n<=1:
        return False
    elif n<=3:
        return True
    elif n%2 ==0 or n%3 ==0:
        return False
    i=5
    while i*i<=n:
        if n% i==0 or n% (i+2)==0:
            return False
        i+=6
    return True

def generate_first_n_primes(n):
    primes=set()
    num=2 # Start with the first prime number,2
    while len(primes)<n:
        if is_prime(num):
            primes.add(num)
            
        num+=1
    return primes
# Generate the first 5 prime numbers
first_5_primes=generate_first_n_primes(5)
print(first_5_primes)

{2, 3, 5, 7, 11}

In [56]:
#22. Check if two sets are identical.
set5={2,3,4,5,6,7}
set8={2,3,4,5,6,7}

if set5==set8:
    print('The sets are identical.')
else:
    print('The sets are not identical.')

The sets are identical.

In [1]:
#23. Create a frozen set.
my_set={1,2,3,4,5,6,7}
#  A frozen set is an immutable version of a set.
frozen_set=frozenset(my_set)

print(frozen_set)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [4]:
#24. Check if a set is disjoint with another set.
set1={1,2,3,4,5}
set2={6,7,8,9,0}

if set1.isdisjoint(set2):
    print('The sets are disjoint')
else:
    print('The sets have common elements.')

The sets are disjoint

In [6]:
#25. Create a set of squares of numbers from 1 to 5.
# use set-comprehension.

square_set={i**2 for i in range(1,6)}
print(square_set)

{1, 4, 9, 16, 25}

In [7]:
#26. Filter out all even numbers from a set.
num_set={1,2,3,2,4,6,7,8,9,0,8,7,6,5,5,55,33}
# set-comprehension

odd_set={i for i in num_set if i%2!=0}

print(odd_set)

{1, 33, 3, 5, 7, 9, 55}

In [8]:
#27. Multiply all elements in a set by 2.
set3={1,2,3,4,6,7,8}

multi_set={i*2for i in set3}

print(multi_set)

{2, 4, 6, 8, 12, 14, 16}

In [19]:
#28. Create a set of random numbers.
import random

# Generate a set of 5 random integers between 1 to 100
random_set=set()
for _ in range(10):
    random_num=random.randint(1,100)
    random_set.add(random_num)
print('The random number set is:')
print(random_set)

The random number set is:
{33, 98, 40, 9, 8, 80, 19, 20, 57, 30}

In [29]:
#29. Check if a set is empty.
empty_set=set() # Create an empty set
if not empty_set:
    print('The set is empty.')
else:
    print('The set is not empty.')

The set is empty.

In [33]:
#30. Create a nested set (hint: use frozenset.)
nested_set={frozenset({1,2,3}), frozenset({5,6,7}), frozenset({1,5,8,9,0})}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({0, 1, 5, 8, 9}), frozenset({5, 6, 7})}

In [38]:
#31. Remove an element from a set using the discard method.
my_set={1,2,3,4,5,6,7}

# Remove an element using the discard() method

my_set.discard(7)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [39]:
#32. Compare two sets.
set4={1,23,3,4,5,6,7,8}
set8={1,3,4,5}

# Equality
if set8==set4:
    print('set4 and set8 are equal.')
else:
    print('set4 and set8 are not equal.')
    
# Subset
if set8<=set4:
    print('The set8 is subset or equal to set4.')
else:
    print('The set8 is not subset of set4.')
# Proper subset
if set8<set4:
    print('The set8 is proper subset of set4.')
else:
    print('The set8 is not proper subset of set4.')
# superset 
if set8>=set4:
    print('The set8 is superset or equal to set4.')
else:
    print('The set8 is not superset of set4.')
# Proper superset
if set8>set4:
    print('The set8 is proper superset of set4.')
else:
    print('The set8 is not proper superset of set4.')
# Inequality

if set8!=set4:
    print('The set8 is not equal to set4.')
else:
    print('The set8 and set4 are equal.')

set4 and set8 are not equal.
The set8 is subset or equal to set4.
The set8 is proper subset of set4.
The set8 is not superset of set4.
The set8 is not proper superset of set4.
The set8 is not equal to set4.

In [40]:
#33. Create a set from a string.
string='nagsen khandare'

create_set=set(string)
print(create_set)

{'h', 'd', ' ', 'n', 'k', 'a', 'g', 'e', 's', 'r'}

In [43]:
#34. Convert a set of strings to a set of integers.
str_set={'1','2','3','4','5','6','7','8','9'}
# Use set-comprehesion
int_set=set(int(s) for s in str_set)
print(int_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
#35. Convert a set of integers to a set of string.
int_set={1,2,3,4,5,6,7,8,0}
# Use set comprehension

str_set={str(num) for num in int_set}

print(str_set)

{'7', '6', '8', '5', '0', '1', '2', '3', '4'}

In [45]:
#36. Create a set from a tuple.
tuple3=(1,2,3,'nag','sen','pr')

create_set=set(tuple3)
print(create_set)

{1, 2, 3, 'nag', 'sen', 'pr'}

In [46]:
#37. Convert a set to a tuple.
set8={1,2,3,4,'nag','sen','pro'}

create_tuple=tuple(set8)
print(create_tuple)

(1, 2, 3, 4, 'pro', 'sen', 'nag')

In [3]:
#38. Find the maximum value in a set.
set3={1,2,3,4,5,6,7,8,88,9,99}
print('The maximum value in a set:')
max(set3)

The maximum value in a set:

99

In [4]:
#39. Find the minimum value in a set.
set88={1,2,3,4,55}
print('The minimum value in a set:')
min(set88)

The minimum value in a set:

1

In [13]:
#40. Create a set from user input.
# Initialize an empty set

user_set=set()

# Ask the user for input until they press Enter without typing anything
while True:
    user_input=input('Enter an element (or press Enter to finish):')
    
    # Check if the user pressed Enter without typing anything
    if not user_input:
        break
    # Add the user input to the set 
    user_set.add(user_input)
print('The set you created:',user_set)

Enter an element (or press Enter to finish): 4
Enter an element (or press Enter to finish): nag
Enter an element (or press Enter to finish): sen
Enter an element (or press Enter to finish): 44
Enter an element (or press Enter to finish): data
Enter an element (or press Enter to finish): 887
Enter an element (or press Enter to finish): True
Enter an element (or press Enter to finish): False
Enter an element (or press Enter to finish):

The set you created: {'4', 'sen', '44', 'False', 'data', '887', 'True', 'nag'}

In [13]:
#41. Check if the intersection of two sets is empty.
set1={1,2,3,4,5,6,7}
set2={8,9,0,11,12,14,15}

if not set1.intersection(set2):
    print('The intersection of two sets is empty.')
    
else:
    print('The intersection of two sets is not empty.')

The intersection of two sets is empty.

In [23]:
#42. Create a set of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci_set=set()
    a,b=0,1
    for _ in range(n+1):
        fibonacci_set.add(a)
        a,b=b,a+b
    return fibonacci_set

# Generate a set of the first 5 Fobonacci numbers
fibonacci_numbers=generate_fibonacci(5)
print(fibonacci_numbers)

{0, 1, 2, 3, 5}

In [26]:
#43. Remove duplicates from a list using sets.
lst=[1,2,3,44,4,4,3,3,6,7,8,8]
list_without_duplicate=list(set(lst))
print('The list without duplicates:')
print(list_without_duplicate)

The list without duplicates:
[1, 2, 3, 4, 6, 7, 8, 44]

In [2]:
#44. Check if two sets have the same elements, regardless of their count.
set1={1,2,3,4,5}
set2={1,2,3,4,5,44,3,4,5,}

# Check if the sets have the same elements
if set1==set2:
    print('The sets have the same elements, regardless of their count.')
else:
    print('The sets do not have the same elements.')

The sets do not have the same elements.

In [6]:
#45. Create a set of the first 'n' powers of 2.
def generate_powers_of_2(n):
    powers_set=set()
    power=1
    for _ in range(n):
        powers_set.add(power)
        power*=2
    return powers_set

# Generate the first 5 powers of 2 
first_5_powers_of_2=generate_powers_of_2(5)
print(first_5_powers_of_2)

{1, 2, 4, 8, 16}

In [9]:
#46. Find the common elements between a set and a list.
my_set={1,2,3,4,5,6}
my_list=[3,4,5,6,7,8,9,0]

common_elements=my_set.intersection(my_list)
print(common_elements)

{3, 4, 5, 6}

In [1]:
#47. Create a set of the first 'n' triangular numbers.
def generate_triangular_numbers(n):
    triangular_set=set()
    triangular_number=0
    for i in  range(1,n+1):
        triangular_number+=i
        triangular_set.add(triangular_number)
    return triangular_set

# generate first 5 triangular numbers
first_5_triangular_numbers=generate_triangular_numbers(5)
print(first_5_triangular_numbers)

{1, 3, 6, 10, 15}

In [17]:
#48. Check if a set contains another set as a subset.

set3={1,2,3,4,5,6,7,8,9}
set4={2,3,5,9,1}
is_subset=set4.issubset(set3)

if is_subset:
    print('The set4 is subset of set3.')
else:
    print('The set4 is not subset of set3.')

The set4 is subset of set3.

In [3]:
#49. Create a set of alternating 1s and 0s of length 'n'.

def alternating_ones_zeros(n):
    sequence=[]
    for i in range(n):
        if i%2==0:
            sequence.append(1)
        else:
            sequence.append(0)
    return set(sequence)

n=10
# set will automatically remove the duplicates
result=alternating_ones_zeros(n)
print(result)

{0, 1}

In [4]:
#50. Merge multiple sets into one.

# Create multiple sets

set1={1,2,3,5}
set2={5,6,7}
set3={7,8,9,0}

# Merge sets using union method
merged_set=set1.union(set2,set3)
print(merged_set)

{0, 1, 2, 3, 5, 6, 7, 8, 9}